<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>registServlet</servlet-name>
    <servlet-class>extreme.servlet.registServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>extreme.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listServlet</servlet-name>
    <servlet-class>extreme.servlet.listServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>logout</servlet-name>
    <servlet-class>extreme.servlet.logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>checkcodeServlet</servlet-name>
    <servlet-class>extreme.servlet.checkcodeServlet</servlet-class>
  </servlet>





  <servlet-mapping>
    <servlet-name>registServlet</servlet-name>
    <url-pattern>/registServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listServlet</servlet-name>
    <url-pattern>/listServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>checkcodeServlet</servlet-name>
    <url-pattern>/checkcodeServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
